Приложение 3:
Форматы неновостных материалов на сайте
1. Статья
Требования к формату
* Заголовок - максимальная длина 90 знаков с пробелами.
* Лид - должен развивать заголовок, а не повторять его, добавлять новую ин- формацию, но не дублируя предыдущие части текста. Наличие лида жела- тельно, но не обязательно.
* Текст - если он насчитывает больше 6 абзацев, то его следует разбить на смысловые части с подзаголовками. Также его стоит разнообразить допол- нительным контентом - материалами разных форматов на схожую тематику.
* После окончания текста указываются имя и фамилия автора.

Примеры
* "Хотели настоящее импортозамещение. Так и получилось". О греческой сы- роварне под Псковом
https://tass.ru/v-strane/16170093
* Лицо врага: от кого спасли Россию Минин и Пожарский?
https://tass.ru/obschestvo/16207757
* Зима-2023/24: точка невозврата для Европейского союза?
https://tass.ru/mezhdunarodnaya-panorama/16142559
* Таблетки с моторчиком. Как нанороботы помогут лечить рак и шизофрению
https://nauka.tass.ru/nauka/16112929
* Призраки прошлого: почему экономисты вспоминают стагфляцию 1970-х го- дов
https://tass.ru/ekonomika/14200223
2. Эксплейнер
Требования к формату
* Заголовок - максимальная длина 90 знаков с пробелами. Допускается ис- пользование вопросов в заголовке.
* Лид - должен развивать заголовок, а не повторять его, добавлять новую ин- формацию, но не дублируя предыдущие части текста. Наличие необяза- тельно.
* Текст - как правило, оформляется в виде "карточек". Формат "карточек" подразумевает автоматическую разбивку текста на смысловые блоки. До- полнительный контент при этом не используется. Допускается добавление в текст гиперссылок на другие материалы, если это соответствует логике тек- ста.

* После окончания текста указываются имя и фамилия автора, если это ориги- нальный материал. Если карточки собираются по новостям/текстам с сайта, то они не подписываются.

Примеры
* Списывать нельзя: как защитить часть дохода от принудительного взыскания
https://tass.ru/obschestvo/16261943
* Антиколлекторы: помогают ли они должникам? Или вредят?
https://tass.ru/obschestvo/16133575
* Страховка "по подписке": как защитить имущество, заплатив меньше 500 рублей в месяц
https://tass.ru/ekonomika/15822179
* "Врожденная неграмотность": как ошибки в речи и письме связаны с осо- бенностями мозга
https://nauka.tass.ru/nauka/15686795
* Смог, ураганы и бессонница. Чем опасны городские "острова тепла"
https://nauka.tass.ru/nauka/16213119
3. Максимально коротко
Требования к формату
* Заголовок - максимальная длина 90 знаков с пробелами. Он должен содер- жать формулировку "Объясняем коротко" или "Максимально коротко" и указание числа слов в материале.
* Лид - должен развивать заголовок, а не повторять его, добавлять новую ин- формацию, но не дублируя предыдущие части текста.
* Текст - его стоит разнообразить дополнительным контентом: материалами разных форматов на схожую тематику.
* После окончания текста указываются имя и фамилия автора.

Примеры
* Нобелевка за изучение финансовых кризисов и работы банков. Объясняем коротко (461 слово)
https://tass.ru/ekonomika/16007709
* Нобелевка за химические пряжки. Объясняем коротко (367 слов)
https://nauka.tass.ru/nauka/15962627
* Нобелевка за исследование квантовой запутанности. Объясняем коротко (в 400 словах)
https://nauka.tass.ru/nauka/15951907
* Нобелевка за вымерших "кузенов" человека. Объясняем коротко (439 слов)
https://nauka.tass.ru/nauka/15941057

4. Правила жизни
Требования к формату
* Заголовок - максимальная длина 90 знаков с пробелами. Обязательно дол- жен содержать имя героя и указывать, о чьих правилах жизни пойдет речь.
* Лид - должен развивать заголовок, а не повторять его, добавлять новую ин- формацию, но не дублируя предыдущие части текста.
* Текст - если он насчитывает больше 6 абзацев, то его следует разбить на смысловые части с подзаголовками. Также его стоит разнообразить допол- нительным контентом - материалами разных форматов на схожую тематику.
* После окончания текста указываются имя и фамилия автора.
Примеры
* Спать 8 часов, жить просто, уходить на пике. Правила жизни Джеффа Безоса, главы Amazon
https://tass.ru/ekonomika/10612185
* Когда у тебя есть любовь, тебе не надо бороться. Правила жизни Кирилла Рихтера
https://tass.ru/kultura/6926030
5. Гид/подборка
Требования к формату
* Заголовок - максимальная длина 90 знаков с пробелами.
* Лид - должен развивать заголовок, а не повторять его, добавлять новую ин- формацию, но не дублируя предыдущие части текста.
* Текст - если он насчитывает больше 6 абзацев, то его следует разбить на смысловые части с подзаголовками. Также его стоит разнообразить допол- нительным контентом - материалами разных форматов на схожую тематику.
* После окончания текста указываются имя и фамилия автора.

Примеры
* Корейский экшен, сказка от Миллера и новая Энола Холмс: что смотреть в кино и онлайн
https://tass.ru/kultura/16227345
* Новый "Союз спасения" и сериал Тодоровского: гид по фестивалю "Новый сезон"
https://tass.ru/kultura/15776883
* Язычники, наивная любовь и новый Пак Чхан Ук: что смотреть на ММКФ
https://tass.ru/kultura/15564665
* Какой китайский смартфон купить в 2022 году? Советуют техноблогеры
https://tass.ru/ekonomika/14701509
* "Поехали!" 19 спектаклей больших театральных гастролей
https://tass.ru/kultura/12552871

6. Тесты
Требования к формату
* Заголовок - максимальная длина 90 знаков с пробелами.
* Лид - должен развивать заголовок, а не повторять его, добавлять новую ин- формацию, но не дублируя предыдущие части текста.
* Текст - кратко описывает инфоповод, к которому привязан тест.

Примеры

* Что искали мужики и кого били на Сенной? Как хорошо вы помните стихи Некрасова
https://tass.ru/kultura/13157843
* Хулиган Пиноккио или главный хитрец? Кто вы из сказки Карло Коллоди
https://tass.ru/kultura/11835289
* Какая инфекция помогла Кутузову и почему забраковали вакцину от ВИЧ?
Тест об эпидемиях и нашей борьбе с ними
https://nauka.tass.ru/tests/275
7. Отрывки из новых книг
Требования к формату
* Заголовок - максимальная длина 90 знаков с пробелами. Обязательно дол- жен содержать указание либо на название книги, либо на ее тематику. Например, "Отрывок из книги "На 100 лет вперед"" или "Отрывок из книги о медицинской генетике".
* Лид - должен развивать заголовок, а не повторять его, добавлять новую ин- формацию, но не дублируя предыдущие части текста. Желательно указание издательства, в котором выходит книга.
* Текст - несколько вводных абзацев, написанных журналистом редакции и объясняющих ценность выбранного отрывка. Во вводке повторяется назва- ние книги и ставится гиперссылка на страницу книги на сайте издательства.
* Материал не подписывается.

Примеры
* Почему сегодняшние жизни ценятся больше будущих. Отрывок из книги "На 100 лет вперед"
https://tass.ru/obschestvo/15947841
* Парапсихология, телепатия, биополя и прана в СССР. Отрывок из книги "Убы- вающий мир"
https://nauka.tass.ru/nauka/15803519
* Неужели люди могут ориентироваться по магнитному полю Земли? Отрывок из книги "Глубина"
https://nauka.tass.ru/nauka/15633939

* Подводные камни пренатального скрининга. Отрывок из книги о медицин- ской генетике
https://nauka.tass.ru/nauka/15264675
* Почему в США запретили есть легкие животных? Отрывок из книги "Неизве- данное тело"
https://nauka.tass.ru/nauka/15264525
8. Мнение
Требования к формату
* Для каждого эксперта заводится страница на сайте tass.ru (с фото, именем и актуальной должностью), на которой отображаются все колонки автора. В дальнейшем при верстке материала в admin.tass.ru указывается конкретный автор, и материал автоматически привязывается к его странице.
* Заголовок - максимальная длина 90 знаков с пробелами.
* Лид - обязательно должен содержать контекст и имя автора. Например,
"Михаил Ханов - об условиях черноморской зерновой инициативы и заин- тересованных сторонах в ней" (https://tass.ru/opinions/16227775).
* Текст - если насчитывает больше 6 абзацев, то его следует разбить на смыс- ловые части с подзаголовками. Также его стоит разнообразить дополнитель- ным контентом - материалами разных форматов на схожую тематику.
Примеры

* Правим правила: какие изменения готовятся в ПДД к 1 марта
https://tass.ru/opinions/16261959
* Франция ищет "белое золото": сможет ли ставка на литий помирить эконо- мику и экологию
https://tass.ru/opinions/16239279
* Значимость зерновой сделки: для чего она нужна России
https://tass.ru/opinions/16227775
* Пучина народного гнева: к чему ведут протесты в Молдавии
https://tass.ru/opinions/16224781
* Перспектива седьмых ядерных испытаний в КНДР. Чем ответят Южная Корея и США?
https://tass.ru/opinions/16223527
9. Цифрофакты
Требования к формату
* Заголовок - максимальная длина 90 знаков с пробелами.
* Лид - должен развивать заголовок, а не повторять его, добавлять новую ин- формацию, но не дублируя предыдущие части текста. Наличие желательно, но не обязательно.
* Текст - кратко вводит читателя в курс дела, поясняет, цифры из каких данных он будет смотреть.

* Основное тело материала составляет инфографика. Она может быть само- стоятельно выполнена редактором отдела неновостного контента в доступ- ных редакции инструментах (например, Infogram) или отдана на выполне- ние отделу инфографики. В последнем случае требует заблаговременного планирования и работы по стандартам выполнения инфографики.
* Материал не подписывается.

Примеры
* Единый день голосования 11 сентября 2022 года
https://tass.ru/infographics/9571
* Как правительство работало в 2021 году: результаты в цифрах и фактах
https://tass.ru/politika/14314631
* Большая пресс-конференция президента России Владимира Путина - 2021.
Цифры и факты
https://tass.ru/obschestvo/13285343
* Послание президента Владимира Путина Федеральному собранию - 2020.
Цифры и факты
https://tass.ru/politika/7523321
* Сколько нарушений Счетная палата нашла в 2020 году
https://tass.ru/ekonomika/11085335
10. Буллеты
Требования к формату
* Заголовок - максимальная длина 90 знаков с пробелами. Варианты заго- ловка:
o вопросительный, например: "Что известно о...";
o главное о событии, например: "Дело о вымогательстве у главы Ро- стеха. Главное";
o назывной заголовок, который описывает содержание без уточнения, например: "Служившие, с опытом и специальностью. Кого призовут в РФ в рамках частичной мобилизации".
* Лид - как правило, отсутствует.
* Подводка - несколько предложений текста, соответствующие новостному формату и коротко отвечающие на вопросы: что? когда? где произошло?
* Основной блок - вопрос/общее понятие - ответы.
Примеры
* Что известно о пожаре в кафе в Костроме
https://tass.ru/proisshestviya/16251909
* Что известно о давке в Сеуле
https://tass.ru/proisshestviya/16195507
* Что известно о приостановке участия России в зерновой сделке
https://tass.ru/politika/16194519
* Дело о вымогательстве у главы Ростеха. Главное

https://tass.ru/proisshestviya/16165067
* Что известно о падении военного самолета в Иркутске
https://tass.ru/proisshestviya/16131437
* Служившие, с опытом и специальностью. Кого призовут в РФ в рамках ча- стичной мобилизации
https://tass.ru/armiya-i-opk/15818155
11. Интервью (вопросы и ответы)
Требования к формату
* Заголовок - максимальная длина 90 знаков с пробелами. Дается в формате:
"Ньюсмейкер: наиболее содержательное высказывание из интервью". Мо- жет быть переделан сотрудником редакции сайта под запрос аудитории.
* Лид - кратко описывает контекст, рассказывает предысторию, анонсирует ключевые темы интервью.
* Текст - дается в формате "вопрос - ответ", прямая речь журналиста и ньюсмейкера начинаются с нового абзаца, перед началом ставится тире.
* Дается горизонтальная фотография ньюсмейкера.
* Всегда указываются имя и фамилия автора.

Примеры
* Главный архитектор Москвы: у нас закрыта тема типовой застройки, каждое место уникально
https://tass.ru/interviews/16454149
* Глава Роснедр: нет таких полезных ископаемых, которые нельзя найти в Рос- сии
https://tass.ru/interviews/15728315
* Александр Медведев: вторая звезда на эмблеме "Зенита" будет иметь огромное значение
https://tass.ru/interviews/16451033
* Основатель Pink Floyd Роджер Уотерс: отменять русскую культуру - безумие
https://tass.ru/interviews/15537811
* Глава "Автоваза": планируем разработать новый кроссовер на обновленной платформе Vesta
https://tass.ru/interviews/15702603

